
@model IEnumerable<Domain.Entities.Product>
<H1 class="text-center">Welcome to the Product Section</H1>


<a class="btn btn-primary my-2" asp-action="Create">Create</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Product id</th>
            <th>Name</th>
            <th>Price</th>
            <th>Manufacture date</th>
            <th>Category Id</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.ProductId</td>
                <td>@product.Name</td>
                <td>@product.Price</td>
                <td>@product.ManufactureDate</td>
                <td>@product.CategoryId</td>
                <td>
                    <a class="btn btn-primary" asp-action="Delete" asp-route-categoryId="@product.ProductId">Delete</a>
                    <a class="btn btn-danger" asp-action="Edit" asp-route-categoryId="@product.ProductId">Edit</a>
                </td>
             

            </tr>
        }
    </tbody>


</table>
