@model List<Domain.Entities.Category>
<H1 class="text-center">Welcome to the Catagory Section</H1>


<a class="btn btn-primary my-2" asp-action="Create">Create</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Category id</th>
            <th>Name</th>
            <th>Products</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model)
        {
            <tr>
                <td>@category.CategoryId</td>
                <td>@category.Name</td>
                <td>
                    @if(@category.Products != null)
                    {
                        @foreach (var product in category.Products)
                        {
                            @product.Name
                            <br />
                        }
                    }
                </td>

                <td>
                    <a class="btn btn-primary" asp-action="Delete" asp-route-categoryId="@category.CategoryId">Delete</a>
                    <a class="btn btn-danger" asp-action="Edit" asp-route-categoryId="@category.CategoryId">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>
